@using Backtester.Server.ViewModels.CreateJob

@model Backtester.Server.Models.BacktestJobSettingsModel

@{
    ViewData["Title"] = "New Job";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>New Backtest Job</h4>
            </div>
            <div class="panel-body">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    1. Select Strategy Assembly File
                                    <span class="glyphicon glyphicon-ok-sign text-success pull-right"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                @Html.Partial("CreateStep1Partial", new CreateJobStep1ViewModel())
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    2. Review Strategy Parameters
                                    <span class="glyphicon glyphicon-ok-sign text-success pull-right" ng-show="jobsCtrl.stepPanelsClasses[1] === 'panel-success'"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    3. Select Time Range
                                    <span class="glyphicon glyphicon-ok-sign text-success pull-right" ng-show="jobsCtrl.stepPanelsClasses[2] === 'panel-success'"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    4. Review And Submit
                                    <span class="glyphicon glyphicon-ok-sign text-success pull-right" ng-show="jobsCtrl.stepPanelsClasses[3] === 'panel-success'"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Strategy
                                    </div>
                                    <table class="table">
                                        <tr>
                                            <th>@Html.DisplayNameFor(m => Model.OriginalFileName)</th>
                                            <td>@Html.DisplayFor(m => Model.OriginalFileName)</td>
                                        </tr>
                                        <tr>
                                            <th>@Html.DisplayNameFor(m => Model.StrategyName)</th>
                                            <td>@Html.DisplayFor(m => Model.StrategyName)</td>
                                        </tr>
                                        <tr>
                                            <th>@Html.DisplayNameFor(m => Model.StrategyVersion)</th>
                                            <td>@Html.DisplayFor(m => Model.StrategyVersion)</td>
                                        </tr>
                                        <tr>
                                            <th>@Html.DisplayNameFor(m => Model.Crosses)</th>
                                            <td>@Html.DisplayFor(m => Model.Crosses)</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        @Html.DisplayNameFor(m => Model.Parameters)
                                    </div>
                                    @if (Model.Parameters?.Count > 0)
                                    {
                                        <table class="table">
                                            @foreach (var parameter in Model.Parameters)
                                            {
                                                <tr>
                                                    <th>@Html.DisplayFor(m => parameter.Name)</th>
                                                    <td>@Html.DisplayFor(m => parameter.Value)</td>
                                                </tr>
                                            }
                                        </table>
                                    }
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Time Range
                                    </div>
                                    <table class="table">
                                        <tr>
                                            <th>@Html.DisplayNameFor(m => Model.StartDate)</th>
                                            <td>@Html.DisplayFor(m => Model.StartDate)</td>
                                        </tr>
                                        <tr>
                                            <th>@Html.DisplayNameFor(m => Model.EndDate)</th>
                                            <td>@Html.DisplayFor(m => Model.EndDate)</td>
                                        </tr>
                                        <tr>
                                            <th>@Html.DisplayNameFor(m => Model.StartTime)</th>
                                            <td>@Html.DisplayFor(m => Model.StartTime)</td>
                                        </tr>
                                        <tr>
                                            <th>@Html.DisplayNameFor(m => Model.EndTime)</th>
                                            <td>@Html.DisplayFor(m => Model.EndTime)</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="btn-group" style="margin-top: 16px">
                                    <button type="button" class="btn btn-danger" ng-click="jobsCtrl.goBackToStep3()">Back</button>
                                    <button type="submit" class="btn btn-success">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>