@model Backtester.Server.Models.BacktestJobGroupModel

<ul class="nav nav-tabs" style="margin-bottom: 15px">
    @if (Url.ActionContext.ActionDescriptor.DisplayName.Contains("Index"))
    {
        <li role="presentation" class="active"><a href onclick="changeContent('info')">Info</a></li>
    }
    else
    {
        <li role="presentation"><a href onclick="changeContent('info')">Info</a></li>
    }

    @if (Url.ActionContext.ActionDescriptor.DisplayName.Contains("AllTrades"))
    {
        <li role="presentation" class="active"><a asp-action="AllTrades" asp-route-groupid="@Model.GroupId">All Trades</a></li>
    }
    else
    {
        <li role="presentation"><a asp-action="AllTrades" asp-route-groupid="@Model.GroupId">All Trades</a></li>
    }

    @if (Url.ActionContext.ActionDescriptor.DisplayName.Contains("UnrealizedPnls"))
    {
        <li role="presentation" class="active"><a asp-action="UnrealizedPnls" asp-route-groupid="@Model.GroupId">Unr PnLs</a></li>
    }
    else
    {
        <li role="presentation"><a asp-action="UnrealizedPnls" asp-route-groupid="@Model.GroupId">Unr PnLs</a></li>
    }

    @foreach (var item in Model.JobIds)
    {
        <li role="presentation"><a href onclick="changeContent('day', '@item.Value')">@item.Key</a></li>
    }
</ul>