@model Backtester.Server.Models.BacktestJobGroupModel

<ul class="nav nav-tabs">
    @if (Url.ActionContext.ActionDescriptor.DisplayName.Contains("Index"))
    {
        <li role="presentation" class="active"><a asp-action="Index" asp-route-groupid="@Model.GroupId">Info</a></li>
    }
    else
    {
        <li role="presentation"><a asp-action="Index" asp-route-groupid="@Model.GroupId">Info</a></li>
    }

    @if (Url.ActionContext.ActionDescriptor.DisplayName.Contains("AllTrades"))
    {
        <li role="presentation" class="active"><a asp-action="AllTrades" asp-route-groupid="@Model.GroupId">All Trades</a></li>
    }
    else
    {
        <li role="presentation"><a asp-action="AllTrades" asp-route-groupid="@Model.GroupId">All Trades</a></li>
    }

    @if (Url.ActionContext.ActionDescriptor.DisplayName.Contains("UnrealizedPnls"))
    {
        <li role="presentation" class="active"><a asp-action="UnrealizedPnls" asp-route-groupid="@Model.GroupId">Unr PnLs</a></li>
    }
    else
    {
        <li role="presentation"><a asp-action="UnrealizedPnls" asp-route-groupid="@Model.GroupId">Unr PnLs</a></li>
    }

    @foreach (var item in Model.JobIds)
    {
        <li role="presentation"><a href="#">@item.Key</a></li>
    }
</ul>