@model IEnumerable<Backtester.Server.ViewModels.JobGroups.JobGroupPerCrossStatisticsViewModel>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Per Cross Drilldown</h4>
            </div>
            <table class="table">
                <tr>
                    <th class="text-right"></th>
                    <th class="text-right">@Html.DisplayNameFor(m => Model.First().TradesCount)</th>
                    <th class="text-right">@Html.DisplayNameFor(m => Model.First().Volume)</th>
                    <th class="text-right">@Html.DisplayNameFor(m => Model.First().TotalPips)</th>
                    <th class="text-right">@Html.DisplayNameFor(m => Model.First().TotalGrossUsd)</th>
                    <th class="text-right">@Html.DisplayNameFor(m => Model.First().TotalFeesUsd)</th>
                    <th class="text-right">@Html.DisplayNameFor(m => Model.First().TotalNet)</th>
                </tr>
                @foreach(var trade in Model)
                {
                    <tr>
                        <th>@Html.DisplayFor(m => trade.Pair)</th>
                        <td class="text-right">@Html.DisplayFor(m => trade.TradesCount)</td>
                        <td class="text-right">@Html.DisplayFor(m => trade.Volume)</td>
                        <td class="text-right">@Html.DisplayFor(m => trade.TotalPips)</td>
                        <td class="text-right">@Html.DisplayFor(m => trade.TotalGrossUsd)</td>
                        <td class="text-right">@Html.DisplayFor(m => trade.TotalFeesUsd)</td>
                        <td class="text-right">@Html.DisplayFor(m => trade.TotalNet)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>