@using Newtonsoft.Json;

@model Backtester.Server.ViewModels.CreateJobExcel.CreateJobExcelReviewViewModel

    @{
        ViewData["Title"] = "Review";
    }

    <div class="row">
        <div class="col-xs-12" id="col">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 style="display:inline-block">@Html.DisplayFor(m => Model.Message)</h4>
                    <div class="pull-right">
                        @Html.Partial("ReviewButtonPartial", Model.JobNamesStr)
                    </div>
                </div>
                <div class="panel-body">
                    @foreach (var job in Model.JobsSettings)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>@Html.DisplayFor(m => job.JobName)</h4>
                            </div>
                            <div class="panel-body">
                                @Html.Partial("JobSettingsPartial", job)
                            </div>
                        </div>
                    }
                </div>
                <div class="panel-footer">
                    @Html.Partial("ReviewButtonPartial", Model.JobNamesStr)
                </div>
            </div>
        </div>
    </div>


@section Scripts
{
    <script>
        function submit() {
            $.ajax({
                type: 'POST',
                url: '/CreateJobExcel/Submit',
                data: JSON.stringify(@Html.Raw(JsonConvert.SerializeObject(Model.JobsSettings.Select(j => j.JobName)))),
                dataType: 'html',
                contentType: 'application/json',
                success: function (data) {
                    $('#col').html(data);
                }
            });
        }
    </script>
}