@using Backtester.Server.ViewModels.CreateJob

@model Backtester.Server.ViewModels.CreateJob.CreateJobStep2ViewModel

@{
    ViewData["Title"] = "Step 2";
}

<div class="row">
    <div class="col-lg-12">
        <form role="form" class="form-horizontal" asp-controller="CreateJob" asp-action="Step3" asp-route-jobname="@Model.Settings.JobName" method="post">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>2. Review Strategy Parameters</h4>
                </div>
                <div class="panel-body">
                    @if (Model.Settings.Parameters.Count > 0)
                    {
                        @for (int i = 0; i < Model.Settings.Parameters.Count; i++)
                        {
                            <div class="form-group">
                                <div ng-switch on="param.Type">
                                    <label class="control-label col-sm-6">
                                        @Html.DisplayFor(m => Model.Settings.Parameters[i].Name)
                                        @if (!string.IsNullOrEmpty(Model.Settings.Parameters[i].Tooltip))
                                        {
                                            <span>
                                                <br /><small>
                                                    <i>(@Html.DisplayFor(m => Model.Settings.Parameters[i].Tooltip))</i>
                                                </small>
                                            </span>
                                        }
                                    </label>

                                    <div class="col-sm-6">
                                        <input hidden asp-for="@Model.Settings.Parameters[i].Name" />
                                        <input class="form-control" asp-for="@Model.Settings.Parameters[i].Value" />
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <a class="btn btn-danger" asp-action="Step1">Back</a>
                        <button type="submit" class="btn btn-success">Next</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>