@using static Backtester.Server.Utils.FormatUtils

@model IEnumerable<Backtester.Server.Models.BacktestTradeModel>

<table class="table table-hover">
    <tr>
        <th>@Html.DisplayNameFor(m => Model.First().Timestamp)</th>
        <th>@Html.DisplayNameFor(m => Model.First().OrderOrigin)</th>
        <th>@Html.DisplayNameFor(m => Model.First().Side)</th>
        <th>@Html.DisplayNameFor(m => Model.First().Size)</th>
        <th>@Html.DisplayNameFor(m => Model.First().Cross)</th>
        <th>@Html.DisplayNameFor(m => Model.First().Price)</th>
        <th>@Html.DisplayNameFor(m => Model.First().RealizedPnlUsd)</th>
        <th>@Html.DisplayNameFor(m => Model.First().RealizedPnlPips)</th>
        <th>@Html.DisplayNameFor(m => Model.First().Duration)</th>
        <th>@Html.DisplayNameFor(m => Model.First().CommissionUsd)</th>
    </tr>
    @foreach (var trade in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => trade.Timestamp)</td>
            <td>@ShortenOrigin(trade.OrderOrigin)</td>
            <td>@Html.DisplayFor(m => trade.Side)</td>
            <td>@Html.DisplayFor(m => trade.Size)</td>
            <td>@Html.DisplayFor(m => trade.Cross)</td>
            <td>@Html.DisplayFor(m => trade.Price)</td>

            @if (trade.RealizedPnlUsd > 0)
            {
                <td class="bg-success">
                    @Html.DisplayFor(m => trade.RealizedPnlUsd)
                </td>
            }
            else if (trade.RealizedPnlUsd < 0)
            {
                <td class="bg-danger">
                    @Html.DisplayFor(m => trade.RealizedPnlUsd)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(m => trade.RealizedPnlUsd)
                </td>
            }

            @if (trade.RealizedPnlPips > 0)
            {
                <td class="bg-success">
                    @Html.DisplayFor(m => trade.RealizedPnlPips)
                </td>
            }
            else if (trade.RealizedPnlPips < 0)
            {
                <td class="bg-danger">
                    @Html.DisplayFor(m => trade.RealizedPnlPips)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(m => trade.RealizedPnlPips)
                </td>
            }

            <td>@Html.DisplayFor(m => trade.Duration)</td>
            <td>@Html.DisplayFor(m => trade.CommissionUsd)</td>
        </tr>
    }
</table>
