@using static Capital.GSG.FX.Backtest.DataTypes.BacktestJobStatusCode

@model IEnumerable<Backtester.Server.Models.BacktestJobGroupModel>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                @ViewData["Header"]
                <a class="btn btn-sm btn-default" asp-controller="JobGroups" asp-action="ExportListToExcel"><span class="glyphicon glyphicon-save"></span></a>
            </h4>
        </div>
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>@Html.DisplayNameFor(m => Model.First().GroupId)</th>
                        <th>@Html.DisplayNameFor(m => Model.First().TimeFrame)</th>
                        <th>@Html.DisplayNameFor(m => Model.First().NetRealizedPnlUsd)</th>
                        <th>@Html.DisplayNameFor(m => Model.First().CreateTime)</th>
                        <th>@Html.DisplayNameFor(m => Model.First().Status)</th>
                        <th>@Html.DisplayNameFor(m => Model.First().ActualStartTime)</th>
                        <th>@Html.DisplayNameFor(m => Model.First().CompletionTime)</th>
                        <th>@Html.DisplayNameFor(m => Model.First().Duration)</th>
                        <th></th>
                    </tr>
                    @foreach (var jobGroup in Model)
                    {
                        <tr>
                            <td><a asp-controller="JobGroups" asp-action="Info" asp-route-groupid="@jobGroup.GroupId">@Html.DisplayFor(m => jobGroup.GroupId)</a></td>
                            <td>@Html.DisplayFor(m => jobGroup.TimeFrame)</td>
                            <td class="@(jobGroup.NetRealizedPnlUsd < 0 ? "bg-danger text-right" : jobGroup.NetRealizedPnlUsd > 0 ? "bg-success text-right" : "text-right")">@Html.DisplayFor(m => jobGroup.NetRealizedPnlUsd)</td>
                            <td>@Html.DisplayFor(m => jobGroup.CreateTime)</td>
                            <td>
                                @Html.DisplayFor(m => jobGroup.Status)
                                @if (jobGroup.Status != CREATED)
                                {
                                    <span class="badge">@Html.DisplayFor(m => jobGroup.Progress)</span>
                                }
                            </td>
                            <td>@Html.DisplayFor(m => jobGroup.ActualStartTime)</td>
                            <td>@Html.DisplayFor(m => jobGroup.CompletionTime)</td>
                            <td>@Html.DisplayFor(m => jobGroup.Duration)</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <a class="btn btn-primary" asp-controller="CreateJob" asp-action="Step1" asp-route-jobNameToDuplicate="@jobGroup.GroupId">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                    <button class="btn btn-danger" onclick="deleteJobGroup('@jobGroup.GroupId')">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
        else
        {
            <div class="panel-body">
                <p>No job</p>
            </div>
        }
    </div>